@import url('https://fonts.google.com/specimen/Open+Sans');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}
img{
    max-width:100%;
    height:auto;
}
body{
    /* background-color: black; */
    padding: 100px 20px 100px 20px;
}
#firstRow{
    display: flex;
    justify-content: center;
    height: 60%;
    padding-top: 150px;
    padding-bottom: 150px;
}
#facebookPanel{
    display: inline-block;
    padding-top: 50px;
    width: 600px;
    height: 300px;
   
}
#facebookPanel p{
    
    font-size: 27px;
    color: rgb(29, 29, 29);
    margin-left: 28px;
    margin-top: -15px;
}
#loginPanel{
    display: inline-block;
    text-align: center;
    width: 350px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#loginPanel a{
    text-align: center;
    text-decoration: none;
}
#loginPanel a:hover{
   text-decoration: underline;
}

#fb{
    width: 300px;
}

input,button{
    width: 100%;
    height: 47px;
    margin-bottom: 15px;
    font-size: 17px;
    
}
input{
    border: 1px solid #dddfe2;
    border-radius: 5px;
    padding-left: 10px;
}
input::placeholder{
    color: #bbbec2;
    
}
button{
    background-color: #1877f2;
    color:white;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background-color: #196edd;;
}
#create{
    background-color:  #42b72a;
    width: 240px;
    font-weight: bold;
   
}
#create:hover{
    background-color:  #36a121;
}
#hr1{
    margin: 20px 0 20px 0;
    border: 1px solid #e4e6e7;
    
}
#hr2{
    
    border: 1px solid #e4e6e7;
}
#footerPan{
    display: flex;
   width: 100%;
    justify-content: center;
    background-color: white;
}
#footer{
    height: 20%;
    background-color: white;
    
    width: 80%;
}
#footer ul li{
    display: inline-block;
    font-size: 12px;
    color: #9c9ea0;
    padding-left: 5px;
}
#plus{
    width: 25px;
    height: 25px;
    color: rgb(43, 42, 42);
    font-weight:bolder;
    border-radius: 1px;
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}


@media only screen and (min-width: 768px){
}

@media only screen and (min-width: 943px){

      img{
        max-width:100%;
        height:auto;
    } 
   
}